<div class="container">
  <test-interpolation class="my-css-class"></test-interpolation>
  <test-temp-ref-var></test-temp-ref-var>
  <test-value-bind></test-value-bind>
  <test-event-binding></test-event-binding>
  <test-twoway-binding></test-twoway-binding>
  <test-ng-if></test-ng-if>
  <test-ng-for></test-ng-for>
  <test-ng-switch></test-ng-switch>
  <test-ng-class></test-ng-class>
  <test-ng-style></test-ng-style>
  <test-ng-model></test-ng-model>
  <test-pipe></test-pipe>
  <test-safe-nav></test-safe-nav>
</div>